.mainContainer
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: rgba(0,0,0,0.3)
  .contentContainer
    background-color: #b3dbf5
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    .closeButt
      background-color: #930d0d
      color: white
      padding: 5px 10px
      &:hover
        cursor: pointer
        background-color: #c10e0e
