.svg
    background-color: grey

.Country
    stroke: white
    stroke-width: 10px

#Federation
    fill: green

.Warp
    fill: darkred

.Space
    fill: white
    stroke: white
    stroke-width: 10px

.Marker
    fill: blue